<div class="editor-wrap">
    <div class="editor__buttons">
        <button type="button" (click)="switchToAddAreaMode($event)">Add Area</button>
        <button type="button" (click)="switchToAddWayPointMode($event)">Add Way Point</button>
        <button type="button" (click)="switchToAddSquareMode($event)">Add Square</button>
    </div>
    <div class="editor__overflow-container"
         #editorContainer
         (mousedown)="onEditorDrag()"
         (mouseup)="onEditorDrop()"
         (wheel)="onScroll($event)">
        <div class="editor"
             [ngStyle]="transformStyles">
            <canvas id="canvas"></canvas>

            <div class="editor__context-menu"
                 [ngStyle]="contextMenuPosition"
                 *ngIf="showContextMenu">
                <button type="button"
                (click)="editArea($event)">EDIT</button>
            </div>
        </div>
    </div>
</div>
